

<div class="editor">


  <!-- CONTENT FOR THE USE OF @-SIGN FUNCTION!!! -->

  <div class="markt-users" *ngIf="searchMarktUsers">
    <div class="users-box">
      <div class="no-searchresults" *ngIf="searchResult.length <= 0">Es wurden leider keine Einträge zu Ihrer Suche gefunden.</div>
      <div class="user-box" *ngFor="let item of searchResult" (click)="addToMsg(item.fullName, item.id)">  <!--- REPLACE item.fullName for Name -->
        <div class="image-container">
          <img src="{{item.photoURL}}" alt="">
          <!-- <img class="online-state" [src]="item.isOnline ? 'assets/workspace-images/online.svg' : 'assets/workspace-images/offline.svg'" alt=""> -->
        </div>
        <div>{{ item.fullName }}</div>
      </div>
    </div>
    <input type="text" placeholder="nach User Suchen" #searchFieldUser class="search-field-user-channel" (keyup)="searchResultsForUser()">
  </div>

  <div class="markt-users" *ngIf="searchMarktChannel">
    <div class="users-box">
      <div class="no-searchresults" *ngIf="searchResultForChannel.length <= 0">Es wurden leider keine Einträge zu Ihrer Suche gefunden.</div>
      <div class="user-box channel-box" *ngFor="let item of searchResultForChannel" (click)="addChannelintoMSG(item.name, item.id)">
        <div>#{{ item.name }}</div>
      </div>
    </div>
    <input type="text" placeholder="nach Channel Suchen" #searchFieldChannel class="search-field-user-channel" (keyup)="searchResultsForChannel()">
  </div>

   <!-- CONTENT FOR THE USE OF @-SIGN FUNCTION!!! #######   END   ######### -->


  <!-- Text input starts here -->
  <textarea type="text" class="scroll" placeholder="Nachricht an #{{currentChannel[0].name}}" id="text" *ngIf="isChatArea && channelType == 'channel' " [(ngModel)]="message" (focus)="hideBoxes()" #keyPress (drop)="uploadFile($event)" (keydown.enter)="addNewMessageKeyBoard($event)" (keypress)="onKeyUp($event)"></textarea>
  <textarea type="text" class="scroll" placeholder="Nachricht an {{setDirectMessageBodyUser()}}" id="text" *ngIf="isChatArea && channelType == 'message' " [(ngModel)]="message" (focus)="hideBoxes()" #keyPress (drop)="uploadFile($event)" (keydown.enter)="addNewMessageKeyBoard($event)" (keypress)="onKeyUp($event)"></textarea>
  <textarea type="text" class="scroll" placeholder="Antworten..." id="thread-text" *ngIf="(isThreadArea && !isNewThread)" [(ngModel)]="message" (focus)="hideBoxes()" #keyPress (drop)="uploadFile($event)" (keydown.enter)="addNewMessageThreadKeyBoard($event)" (keypress)="onKeyUp($event)"></textarea>
  <textarea type="text" class="scroll" placeholder="Antworten und Thread erstellen..." id="new-thread-text" *ngIf="(isThreadArea && isNewThread)" [(ngModel)]="message" (focus)="hideBoxes()" #keyPress (drop)="uploadFile($event)" (keydown.enter)="addNewThreadKeyBoard($event)" (keypress)="onKeyUp($event)"></textarea>

   <!-- File Upload starts here -->
  <input type="file" #fileInput (change)="onFileSelect($event)" accept=".pdf, image/*" style="display: none;" />
  <div class="uploaded-file-container" *ngIf="uploadedData">
    <img *ngIf="checkForPDF() != 'pdf'" src="{{ editorService.fileUrl }}" alt="" style="width: 100px; border-radius: 10px;">
    <img *ngIf="checkForPDF() == 'pdf'" src="/assets/images/icons/pdf-128.png" alt="" style="width: 100px; border-radius: 10px;">
    <span>{{ uploadedDataName }}</span>
  </div>

 <!-- Bottom icon area starts here -->
  <div class="icon-area">
    <div>
       <img class="icon" (click)="fileInput.click()" src="/assets/images/plus-icon.png" alt="" />
      <div class="vertical-separator"></div>
      <img class="icon" src="/assets/images/reaction-icon.png" alt="" (click)="toggleEmojiPicker()" />
      <img class="icon" src="/assets/images/add-icon.png" alt="" (click)="activateMarkUser()">
    </div>
    <div>
      <img class="sendicon" src="/assets/images/send-icon.png" alt="" (click)="addNewMessage()" *ngIf="isChatArea">
      <img class="sendicon" src="/assets/images/send-icon.png" alt="" (click)="addNewMessageThread()" *ngIf="(isThreadArea && !isNewThread)">
      <img class="sendicon" src="/assets/images/send-icon.png" alt="" (click)="addNewThread()" *ngIf="(isThreadArea && isNewThread)">
    </div>
  </div>
  
</div>

<!-- Emoji picker starts here -->
<emoji-mart class="emoji-mart emojis-chat" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…" [darkMode]="false"></emoji-mart>