 <div class="chat-container"> 

        <div class="chat-header">

            <div class="left">
                <p>Thread <span># {{channelName}}</span></p>
            </div>

            <div class="right"(click)="closeThread()">
                
            </div>
        </div>

        <!-- All Messages -->
        <div class="chat-content scroll"> 
            <!-- Start Message starts here -->
            <ng-container *ngIf="startMessageData$ | async as startMessageData; else noData">
                <app-chat-message 
                    [messageData]="startMessageData" 
                    [userName]="startMessageData?.user" 
                    [isThreadMessage]="true" 
                    [channelID]="channelId"
                    id="{{startMessageData.id}}" >
                </app-chat-message>
            </ng-container>
            
            <ng-template #noData>
                <p>No start message data available</p>
            </ng-template>
            <!-- Start Message ends here -->
            <div class="separator"><div class="threadanswers">{{allMessages.length}} Antworten</div><div class="line"></div></div>
            <!-- Thread messages start here -->
            <ng-container *ngFor="let message of allMessages; let i = index" >
                <app-thread-message [messageData]="message" [messageDataIndex]="i" [threadId]="threadId" id="{{message.id}}"></app-thread-message>
            </ng-container>
            <div id="anchor-thread"></div>
            <!-- Thread messages end here -->
        </div>
        <!-- Messages end-->
        
        <!-- Editor -->
        <div class="editor-container">
            <app-editor [isThreadArea]="true" [threadId]="threadId" [channelId]="channelId" [isNewThread]="isNew" [mainMessageId]="mainMessageId"></app-editor>
        </div>
    <!-- Editor ends-->
  </div>