<div class="message-chat" [class.own]="messageData.user === userName">

  <div class="reaction-bar">
    <ng-container *ngIf="!isThreadMessage">
      <div *ngFor="let sortedReaction of sortedReactionTypes; let i = index" class="emoji" [ngClass]="{'d-none': i >= 2}" id="emoji-{{sortedReaction}}{{messageDataIndex}}" (click)="toggleReaction(sortedReaction, messageData.id, messageData.reaction)">
        <img src="assets/images/emoji/emoji-{{sortedReaction}}.png" alt="">
      </div>
    </ng-container>
    <ng-container *ngIf="isThreadMessage">
      <div *ngFor="let sortedReaction of sortedReactionTypes; let i = index" class="emoji" [ngClass]="{'d-none': i >= 0}" id="emoji-{{sortedReaction}}{{messageDataIndex}}" (click)="toggleReaction(sortedReaction, messageData.id, messageData.reaction)">
        <img src="assets/images/emoji/emoji-{{sortedReaction}}.png" alt="">
      </div>
    </ng-container>
    <div id="add-reaction-icon" (click)="showMoreEmojis(messageDataIndex)"></div>
    <ng-container *ngIf="!isThreadMessage">
    <div id="answer-icon" *ngIf="messageData.threadId; else noThreadId" (click)="openThread(messageData.threadId)">
      </div>
      
      <!-- If messageData.threadId does NOT exist -->
      <ng-template #noThreadId>
        <div id="answer-icon" (click)="createThread(messageData.id)">
        </div>
      </ng-template>
    <div id="options-icon" (click)="bubbleEdit(messageDataIndex)" *ngIf="messageData.user == userName"></div>
    <div class="options" *ngIf="messageData.user == userName ">
        <div class="bubble-edit d-none" id="bubble-edit{{messageDataIndex}}">
            <div (click)="openEditMessage(messageData, messageDataIndex)">Nachricht bearbeiten</div>
        </div>
    </div>
  </ng-container>
</div>


  <!-- <img class="avatar" src="assets/images/profile-icons/avatar-1.png" alt=""> -->
  <img *ngIf="existingUser" class="avatar" src="{{ existingUser.photoURL }}" alt="">

  <div class="message-chat-info">
      <div class="message-chat-info-header">
          <h3 *ngIf="existingUser" (click)="viewUsersProfile(existingUser.id)">{{ existingUser.fullName }}</h3>
          <p>{{ messageData.timestamp | date : 'shortTime' : 'de-DE' }} Uhr</p>
      </div>
      <div class="message-chat-info-content" *ngIf="!editActive" #messageChatContent [innerHTML]="splitText(channelUserNames)" (click)="handleNameClick($event)">
          <!-- {{ messageData.message }}  -->
        <div class="show-uploaded-file" *ngIf="messageData.uploadFile">

          <div class="delete-upload-file">
            <img  src="/assets/images/close.png" alt="">
          </div>
        
          <a *ngIf="checkForPDF() != 'pdf'" href="{{ messageData.uploadFile }}" target="_blank"><img src="{{ messageData.uploadFile }}" alt=""></a>
          <a *ngIf="checkForPDF() == 'pdf'" href="{{ messageData.uploadFile }}" target="_blank"><img src="/assets/images/icons/pdf-128.png" alt=""></a>
        </div>
        <span style="font-size: 10px;" *ngIf="messageData.uploadFileName" >{{ messageData.uploadFileName }}</span>
        <span class="updated-mark" *ngIf="messageData.updated">(bearbeitet)</span>
      </div>

      <div *ngIf="editActive" class="editor-container">

        <div class="options-for-delete" (click)="openHidedDeleteBtn(messageDataIndex)">
          <button class="btn-prime red-btn d-none" id="openHidedDeleteBtn{{messageDataIndex}}" (click)="showDeleteMessageDialog()">Nachricht löschen</button>
        </div>
        

        <textarea class="message-chat-info-content-edit scroll" *ngIf="editActive" id="messageChatContent" value="{{ messageData.message }}"></textarea>
        <div class="delete-file-block" *ngIf="messageData.uploadFile">
          <img src="{{ messageData.uploadFile }}" alt="" *ngIf="checkForPDF() != 'pdf'">
          <img src="/assets/images/icons/pdf-128.png" alt="" *ngIf="checkForPDF() == 'pdf'">
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%">
            <span style="margin-left: 8px; font-size: 10px;">{{ messageData.uploadFileName }}</span>
            <div class="delete-btn" (click)="deleteUploadedFile()"></div>
          </div>          
        </div>
        <div class="icon-area">
            <div class="icon" id="smiley" (click)="toggleEmojiPicker()"></div>
            <div class="edit-button-container">
                <button class="btn-secondary hide-tablet" (click)="closeEditMessage()">Abbrechen</button>
                <button class="btn-prime hide-tablet" (click)="saveEditMessage(messageData)">Speichern</button>
                <div role="button" class="icon close-icon" (click)="closeEditMessage()"></div>
                <div role="button" class="icon send-icon" (click)="saveEditMessage(messageData)"></div>
              </div>
        </div>
      </div>
      

        <div class="reaction-view">
            <ng-container *ngIf="(messageData.reaction && messageData.reactionsTime)">
                <app-reaction [reactionData]="messageData.reaction" [reactionTimestamps]="messageData.reactionsTime" [messageId]="messageData.id" [channelID]="channelID" class="reaction-container"></app-reaction>
            </ng-container>


        <div class="add-reaction" (click)="showEmojiBubble(messageDataIndex)">
          <ng-container *ngIf="!isThreadMessage"> 
             <div class="reaction-hover d-none" id="emoji-container{{messageDataIndex}}">
              <div *ngFor="let staticReaction of staticReactionTypes" (click)="toggleReaction(staticReaction, messageData.id, messageData.reaction)">
                  <img src="assets/images/emoji/emoji-{{staticReaction}}.png" alt="">
              </div>
          </div> 
        </ng-container>
        <ng-container *ngIf="isThreadMessage"> 
          <div class="reaction-hover d-none" id="thread-emoji-container">
           <div *ngFor="let staticReaction of staticReactionTypes" (click)="toggleReaction(staticReaction, messageData.id, messageData.reaction)">
               <img src="assets/images/emoji/emoji-{{staticReaction}}.png" alt="">
           </div>
       </div> 
     </ng-container>
      </div>


<ng-container *ngIf="messageData.threadId && !isThreadMessage">
      <div class="message-chat-info-footer">
          <div (click)="openThread(messageData.threadId)">
            <ng-container *ngIf="amountThreadMessages === 1">{{ amountThreadMessages }} Antwort</ng-container>
            <ng-container *ngIf="amountThreadMessages > 1">{{ amountThreadMessages }} Antworten</ng-container>
        </div>
          <span *ngIf="isLastMessageToday">Letzte Antwort {{lastThreadTimeStamp | date:'shortTime'}}</span>
          <span *ngIf="!isLastMessageToday">Letzte Antwort {{lastThreadTimeStamp | date:'short'}}</span>
      </div>
    </ng-container>

  </div>

</div>


<emoji-mart class="emoji-mart" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"
  [darkMode]="false"></emoji-mart>