<div class="dialog-edit-content">

    <header class="header">
        <div class="header-channel-name"><img src="/assets/images/tag.png" alt=""> {{ channelName }}</div>
        <div class="close" (click)="closeDialog()"></div>
    </header>

<!-- VIEW WITHOUT EDIT ACTIVE -->

    <div class="section-edit-channel-name" id="channel-name-save">
        <div class="title-headline">
            <h2 class="title">Channel-Name</h2>
            <button class="edit-btn hide-tablet" (click)="viewEditChannelName()" *ngIf="channelId != mainChannel || currentUser == admin1 || currentUser == admin2">Bearbeiten</button>
            <div role="button" class="icons edit-icon" (click)="viewEditChannelName()" *ngIf="channelId != mainChannel || currentUser == admin1 || currentUser == admin2"></div>
        </div>
        <span class="channel-name information-text"><img src="/assets/images/tag.png" alt="">{{ channelName }}</span>
    </div>

<!-- VIEW WITH EDIT ACTIVE -->

    <div class="mt-20 d-none" id="channel-name-edit">
        <div class="title-headline">
            <h2 class="title">Channel-Name</h2>
            <button class="edit-btn hide-tablet" (click)="editChannelName()">Speichern</button>
            <div role="button" class="icons save-icon" (click)="editChannelName()"></div>
        </div>
        <div class="channel-name information-text edit-name mt-20"><img src="/assets/images/tag.png" alt=""><input type="text" class="editable" id="channel-name" value="{{ channelName }}"></div>
    </div>

<!-- VIEW WITHOUT EDIT ACTIVE -->

    <div class="section-edit-channel-description" id="channel-description-save">
        <div class="title-headline">
            <h2 class="title">Beschreibung</h2>
            <button class="edit-btn hide-tablet" (click)="viewEditChannelDescription()"  *ngIf="channelId != mainChannel || currentUser == admin1 || currentUser == admin2">Bearbeiten</button>
            <div role="button" class="icons edit-icon" (click)="viewEditChannelDescription()" *ngIf="channelId != mainChannel || currentUser == admin1 || currentUser == admin2"></div>
        </div>
        <span class="information-text">{{ channelDescription }}</span>

        <div class="pseudoline"></div>

        <div class="title-headline">
            <h2 class="title">Erstellt von</h2>
        </div>
        <span class="creator">{{ channelCreatorName }}</span>
    </div>

<!-- VIEW WITH EDIT ACTIV -->

    <div class="mt-20 d-none" id="channel-description-edit">
        <div class="title-headline">
            <h2 class="title">Beschreibung</h2>
            <button class="edit-btn hide-tablet" (click)="editChannelDescription()">Speichern</button>
            <div role="button" class="icons save-icon" (click)="editChannelDescription()"></div>
        </div>
        <input type="text" class="information-text edit-name" id="channel-decription" value="{{ channelDescription }}">

        <div class="pseudoline-edit"></div>

        <div class="title-headline">
            <h2 class="title">Erstellt von</h2>
        </div>
        <span class="creator">{{ channelCreatorName }}</span>
    </div>



    <div class="section-btn"><button class="btn-prime" (click)="leaveChannel()">Channel verlassen</button></div>

</div>