<div class="profile-header">
    <h2 *ngIf="!profileEdit && !profileImageEdit">Profil</h2>
    <h2 *ngIf="profileEdit">Dein Profil bearbeiten</h2>
    <h2 *ngIf="profileImageEdit">Dein Profilbild bearbeiten</h2>
    <button mat-icon-button mat-dialog-close><mat-icon fontIcon="close"></mat-icon></button>
</div>

<div mat-dialog-content class="profile-img" *ngIf="!profileImageEdit">
    <img src='{{ userProfileImage }}' *ngIf="!profileEdit" (click)="chooseProfile()" class="pointer">
    <img src='{{ userProfileImage }}' *ngIf="profileEdit">
</div>
<div mat-dialog-content class="profile-info" *ngIf="!profileEdit && !profileImageEdit">
    <div class="name">
        <h3>{{ userFullName }}</h3>
        <button mat-button color="primary" (click)="editProfile()">Bearbeiten</button>
    </div>
    <div class="status">
        <div class="status-icon"></div>
        Aktiv - Platzhalter
    </div>
    <div class="mail-container">
        <div class="mail-icon">
            <mat-icon fontIcon="mail"></mat-icon>
        </div>
        <div class="mail-address">
            <h4>E-Mail-Adresse</h4>
            <a href='mailto:{{ userEmail }}'>{{ userEmail }}</a>
        </div>
    </div>
</div>

<div mat-dialog-content class="profile-edit" *ngIf="profileEdit">
    <form [formGroup]="profileForm">
        <div class="input-container">
            <div class="label">
                <mat-icon fontIcon="account_circle"></mat-icon>
                <h3>Vollständiger Name</h3>
            </div>
            <input type="text" class="input-field" formControlName="fullNameFormControl" [ngClass]="{ 'is-invalid': f.fullNameFormControl.errors}">
            <div *ngIf="profileForm.controls.fullNameFormControl.errors && (profileForm.controls.fullNameFormControl.dirty || profileForm.controls.fullNameFormControl.touched)">
                <div *ngIf="profileForm.controls.fullNameFormControl.errors['required']" class="validation-error-msg">
                    Ein Name ist erforderlich.
                </div>
            </div>
        </div>
        <div class="input-container">
            <div class="label">
                <mat-icon fontIcon="mail"></mat-icon>
                <h3>E-Mail-Adresse</h3>
            </div>
            <input type="email" formControlName="emailFormControl" class="input-field" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$" [ngClass]="{ 'is-invalid': f.emailFormControl.errors}">
            <div *ngIf="profileForm.controls.emailFormControl.errors && (profileForm.controls.emailFormControl.dirty || profileForm.controls.emailFormControl.touched)">
                <div *ngIf="profileForm.controls.emailFormControl.errors['required']" class="validation-error-msg">
                    Deine E-Mail-Adresse ist erforderlich.
                </div>
                <div *ngIf="profileForm.controls.emailFormControl.errors['pattern']" class="validation-error-msg">
                    Bitte gib eine gültige E-Mail-Adresse ein.
                </div>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-content class="profile-icon-container" *ngIf="profileImageEdit">
    <div class="head">
        <h2>Wähle deinen Avatar</h2>
    </div>
    <div class="person-icon">
        <img src="{{userProfileImage}}" alt="">

    </div>
    <h3>{{ userFullName }}</h3>
   
    <div class="chooseimage-container">
        <p>Aus der Liste wählen</p>
        <div class="images">
            <img src='{{"./assets/images/profile-icons/big/avatar-" +(i+1) + ".png"}}' alt="" *ngFor="let _ of [].constructor(6), let i = index" (click)="setProfileImage('./assets/images/profile-icons/big/avatar-' +(i+1) + '.png')">
        </div>
        <div>
            eigenes Bild verwenden
            <button mat-stroked-button color="primary" (click)="triggerInput()">Datei hochladen</button>
            <input type='file' id="getFile" style="display:none" (change)="upload($event)" accept=".png,.jpg">
        </div>
    </div>
    <div class="reg-btns">
        <button mat-stroked-button color="primary" (click)="cancelEditProfile()">Abbrechen</button>
        <button mat-raised-button color="primary" (click)="saveProfileImageChange()">Speichern</button>
    </div>
</div>

<div class="action-bar" mat-dialog-actions *ngIf="profileEdit">
    <button mat-stroked-button color="primary" (click)="cancelEditProfile()">Abbrechen</button>
    <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)="saveUserData()">Speichern</button>
</div>