<div class="delete-message-container">
    <header>
        <h1>Channel verlassen</h1>
        <img src="/assets/images/close.png" alt="" (click)="closeDialog()">
    </header>
    <div>
        Bist du sicher, dass du diesen Channel verlassen möchtest? 
        Du kannst danach nur wieder von einem anderen User eingeladen werden!
    </div>
    <div class="button-container">
        <button class="btn-secondary" (click)="closeDialog()" >Abbrechen</button>
        <button class="btn-prime warn" (click)="leaveChannel()" *ngIf="!isGuest">Channel verlassen</button>
        <button class="btn-prime" (click)="leaveChannel()" *ngIf="isGuest" disabled title="Als Gast können Sie diesen Channel nicht verlassen!">Channel verlassen</button>
    </div>
</div>