<ng-container>
<div class="auth-container">
    <div class="header">
        <img src="./assets/images/logo.png" alt="">
        <div class="reg-container" *ngIf="!hideRegister">
            <p>Neu bei DABubble?</p>
            <a routerLink="register">Konto erstellen</a>
        </div>
    </div>
    <div class="auth-content">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="reg-bottom">
    <div class="reg-container" *ngIf="!hideRegister">
        <p>Neu bei DABubble?</p>
        <button routerLink="register">Konto erstellen</button>
    </div>
</div>
<div class="footer-container">
    <button routerLink="/imprint">Impressum</button>
    <button routerLink="/privacy">Datenschutz</button>
</div>
</ng-container>
<app-alert></app-alert>