<div class="message-chat" [class.own]="messageData.user == userName">
  <div class="reaction-bar">
    <div *ngFor="let sortedReaction of sortedReactionTypes; let i = index" class="emoji" [ngClass]="{'d-none': i >= 0}" id="thread-emoji-{{sortedReaction}}{{messageDataIndex}}" (click)="toggleReaction(sortedReaction, messageData.id, messageData.reaction)">
        <img src="assets/images/emoji/emoji-{{sortedReaction}}.png" alt="">
    </div>
    <div id="add-reaction-icon" (click)="showMoreEmojis(messageDataIndex)"></div>
    <div id="options-icon" (click)="bubbleEdit(messageDataIndex)" *ngIf="messageData.user == userName"></div>
    <div class="options" *ngIf="messageData.user == userName ">
        <div class="bubble-edit d-none" id="bubble-thread-edit{{messageDataIndex}}">
            <div (click)="openEditMessage(messageData, messageDataIndex)">Nachricht bearbeiten</div>
        </div>
    </div>
</div>
  <!-- <div class="msg-left">
    <img class="avatar" *ngIf="existingUser" src="{{ existingUser.photoURL }}" alt="" />
  </div>
  <div class="msg-right">
    <div class="msg-right-top">
      <div class="msg-name" *ngIf="existingUser">{{ existingUser.fullName }}</div>
      <div class="msg-time">{{ messageData.timestamp | date: "medium" }}</div>
    </div>
    <div class="msg-bubble" *ngIf="!editActive">{{ messageData.message }} <span class="updated-mark" *ngIf="messageData.updated">(bearbeitet)</span></div> -->
    <img *ngIf="existingUser" class="avatar" src="{{ existingUser.photoURL }}" alt="">

    <div class="message-chat-info">
        <div class="message-chat-info-header">
            <h3 *ngIf="existingUser" (click)="viewUsersProfile(existingUser.id)" >{{ existingUser.fullName }}</h3>
            <p>{{ messageData.timestamp | date : 'shortTime' : 'de-DE' }} Uhr</p>
        </div>

        <!-- NEW BUILD !!! -->

        <div class="message-chat-info-content" *ngIf="!editActive">
          <div style="display: flex; flex-direction: row; align-items: baseline;">
            <div #messageChatContent [innerHTML]="splitText(channelUserNames)" (click)="handleNameClick($event)"></div>
            <span class="updated-mark" style="margin-left: 4px;" *ngIf="messageData.updated">(bearbeitet)</span>
          </div>
          
            <div class="show-uploaded-file" style="margin-top: 4px;" *ngIf="messageData.uploadFile">
  
              <div class="delete-upload-file">
                <img  src="/assets/images/close.png" alt="">
              </div>
          
              <a *ngIf="checkForPDF() != 'pdf'" href="{{ messageData.uploadFile }}" target="_blank"><img src="{{ messageData.uploadFile }}" alt=""></a>
              <a *ngIf="checkForPDF() == 'pdf'" href="{{ messageData.uploadFile }}" target="_blank"><img src="/assets/images/icons/pdf-128.png" alt=""></a>
            </div>
            <span style="font-size: 10px;" *ngIf="messageData.uploadFileName" >{{ messageData.uploadFileName }}</span>
        </div>

        <!-- BUILD END!!!  -->

        <!-- <div class="message-chat-info-content" *ngIf="!editActive" #messageChatContent>
            {{ messageData.message }} <span class="updated-mark" *ngIf="messageData.updated">(bearbeitet)</span>
        </div> -->

    <div *ngIf="editActive" class="editor-container">

      <div class="options-for-delete" (click)="openHidedDeleteBtn(messageDataIndex)">
        <button class="btn-prime red-btn d-none" id="openHidedDeleteBtnThread{{messageDataIndex}}" (click)="showDeleteMessageDialog()">Nachricht löschen</button>
      </div>

      <input type="text" class="message-chat-info-content-edit" *ngIf="editActive" id="message-thread-content" value="{{ messageData.message }}">
      <div class="delete-file-block" *ngIf="messageData.uploadFile">
        <img src="{{ messageData.uploadFile }}" alt="" *ngIf="checkForPDF() != 'pdf'">
        <img src="/assets/images/icons/pdf-128.png" alt="" *ngIf="checkForPDF() == 'pdf'">
        <div style="display: flex; flex-direction: column;">
          <div class="delete-btn" (click)="deleteUploadedFile()"></div>
          <span style="margin-left: 5px; font-size: 10px;">{{ messageData.uploadFileName }}</span>
        </div>          
      </div>
      <div class="icon-area">
          <div class="icon" id="smiley" (click)="toggleEmojiPicker()"></div>
          <div class="edit-button-container">
              <button class="btn-secondary" (click)="closeEditMessage()">Abbrechen</button>
              <button class="btn-prime" (click)="saveEditMessage(messageData)">Speichern</button>
          </div>
      </div>
    </div>



    <div class="reaction-view">
      <ng-container *ngIf="(messageData.reaction && messageData.reactionsTime)">
          <app-reaction [threadId]="threadId" [reactionData]="messageData.reaction" [reactionTimestamps]="messageData.reactionsTime" [messageId]="messageData.id" [channelID]="threadId" class="reaction-container"></app-reaction>
      </ng-container>


      <div class="add-reaction" (click)="showEmojiBubbleThread(messageDataIndex)">
        <div class="reaction-hover d-none" id="thread-emoji-container{{messageDataIndex}}">
            <div *ngFor="let staticReaction of staticReactionTypes" (click)="toggleReaction(staticReaction, messageData.id, messageData.reaction)">
                <img src="assets/images/emoji/emoji-{{staticReaction}}.png" alt="">
            </div>
        </div>
      </div>

</div>
</div>
</div>

<emoji-mart class="emoji-mart" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"
  [darkMode]="false"></emoji-mart>