<div class="card">
    <div class="container-between">
        <h3><b>Leute hinzufügen</b> </h3>
        <img class="pointer" src="assets/add-channel/close.svg" alt="close" (click)="closeDialog()">
    </div>
    <form (ngSubmit)="onSubmit()" class="container-form">
        <div class="container-select">
            <input type="radio" name="selection" (click)="changeAddPeople(false)" checked>
            <p>Alle Mitglieder von <span class="colored">OfficeTeam</span>  hinzufügen</p>
        </div>
        <div class="container-select">
            <input type="radio" name="selection" (click)="changeAddPeople(true)">
            <p>Bestimmte Leute hinzufügen</p>
        </div>
        <div *ngIf="addPeople">
            <div  class="round-input"  (click)="setPlaceholder()">
                <input type="text" (keyup)="searchUserNew($event)" placeholder="Name eingeben" class="search-user-input-field">
                <div class="added-to-channel-container" *ngFor="let added of addedToChannel;let i = index">
                 <div class="added-to-channel-users ">
                    <img class="added-to-channel-img" src="{{added.photoURL}}" alt="profile-img">
                    <p>{{added.fullName}}</p>
                    <img class="added-user-close" src="assets/add-channel/close.svg" alt="close" (click)="removeFromAddList(i)">
                 </div>
            </div>
            </div>
            <div class="add-person-container" *ngIf="searchUser">
                <div class="scroll-x">
                    <div class="search-container" *ngFor=" let user of dmUsers" (click)="addUserToChannel(user.photoURL,user.fullName,user.id)">
                        <div class="image-container" >
                            <img src="{{user.photoURL}}" alt="">
                            <!-- <img class="online-state" [src]="user.isOnline ? 'assets/workspace-images/online.svg' : 'assets/workspace-images/offline.svg'" alt=""> -->
                        </div>
                        <p>{{user.fullName}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn-prime add-btn" type="submit">Erstellen</button>
        </div>
    </form>
</div>
