<div class="header">
    <img src="./assets/images/logo.png" alt="">
    <div class="searchbar">
        <app-search></app-search>
    </div>
    <div class="profile" (click)="openMenu()">
        <span class="login-name">{{ fullName }}</span>
        <div class="profile-icon">
            <img [src]="userProfileImage" alt="Profilbild">
            <div class="status-activ"></div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" #profileMenuTrigger="matMenuTrigger">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu" class="profile-dialog">
            <button mat-menu-item (click)="openDialog()">
                <span class="menu-item">Profil</span>
            </button>
            <button mat-menu-item (click)="logOutUser()">
                <span class="menu-item">Log out</span>
            </button>
        </mat-menu>
    </div>
</div>

