.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;

    img {
        width: auto
    }

    .searchbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        // max-width: 989px; //hidden by CHRISTIAN
        padding-left: 2%; //hidden by CHRISTIAN
        padding-right: 2%; //hidden by CHRISTIAN
        width: 50%; //hidden by CHRISTIAN



    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        cursor: pointer;
        min-width: 25%;

        .profile-icon {
            position: relative;
            margin-left: 8px;

            img {
                width: 70px;
                height: 70px;
                fill: var(--White, #FFF);
                border-radius: 100%;
            }

            .status-activ {
                position: absolute;
                bottom: 5px;
                right: 1px;
                width: 16.667px;
                height: 16.667px;
                background-color: #92C83E;
                stroke: #ECEEFE;
                border-radius: 100%;
                border: 2px solid #ECEEFE;
            }
        }

        .login-name {
            font-size: 32px;
            font-weight: 700;
            text-align: right;
            line-height: 100%;
        }
    }
}

::ng-deep .profile-dialog {
    border-radius: 30px 0px 30px 30px !important;
    padding: 30px;
    gap: 15px;
}


.mat-mdc-menu-item:not([disabled]):hover {
    padding: 10px, 45px, 10px, 45px;
    border-radius: 100px;
    gap: 15px;
    background-color: rgba(236, 238, 254, 1) !important;

    span {
        color: var(--purple-3)
    }
  }

@media (max-width: 1122px) {
    .header {.profile {
        min-width: unset;
    }}
  }


  @media (max-width: 850px) {
    .login-name {
        display: none;
    }
  }

  @media (max-width: 680px) {
    .header  {
         img {
            width: 20%;
        }
    }
  }