<div class="container">
    <h3>Neue Nachricht</h3>
    <input (keyup)="searching($event)" type="text" placeholder="An: Channel oder User suchen">
    
    <div *ngIf="this.tree.isSearchActive" class="search-container" >
        <div class="scroll">
            <div *ngFor="let channel of channelsUser" (click)="this.tree.handleNodeClick(channel)">
                <div class="search-result">
                    <p>#</p>
                    <p>{{channel.name}}</p>
                </div>
                
            </div>
            <div *ngFor="let user of searchResult; index as i">
                <div class="search-result" (click)="checkForDm(i)">
                    <p>@</p>
                    <img [src]="user.photoURL" alt="">
                    <p>{{user.fullName}}</p>
                </div>
               
            </div>
        </div>
    </div>
</div>