<!-- Search input starts here -->
<mat-form-field appearance="fill">
    <mat-label>DABubble durchsuchen</mat-label>
    <input matInput (ngModelChange)="search($event)" [(ngModel)]="searchInput">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- Search results start here -->
<div class="searchresults-container" *ngIf="(searchResultsMessages.length > 0) || (searchResultsChannels.length > 0) || (searchResultsUsers.length > 0)">

    <!-- Search results for channels start here  -->
    <div class="divider" *ngIf="searchResultsChannels.length > 0"><span>Gefundene Channels</span></div>
      <div class="result-box" *ngIf="searchResultsChannels.length > 0">
        <div class="result-image">
          #
        </div>
        <div class="result-content">
            <div class="result-header-container">
                <div class="result-username">
              Allgemein
                </div>
            </div>
        
            <div class="result-message">
              Dies ist der Allgemeine Channel
            </div>
        </div>
    </div>


    <!-- Search results for messages start here  -->
    <div class="divider" *ngIf="searchResultsMessages.length > 0"><span>Gefundene Nachrichten</span></div>
    <div class="result-box" routerLink="{{searchResult.path}}" *ngFor="let searchResult of searchResultsMessages; let i = index" (click)="clearSearch()">
        <div class="result-image">
          <img src="{{searchResult.userProfileImage}}"alt="">
        </div>
        <div class="result-content">
            <div class="result-header-container">
                <div class="result-username">
                {{ searchResult.user}}
                </div>
                <div class="result-date">
                  {{ searchResult.timestamp | date : 'short' : 'de-DE'}} Uhr
                </div>
            </div>
        
            <div class="result-message">
              {{ searchResult.message }}
            </div>
        </div>
      </div>

      <!-- Search results for users start here  -->
      <div class="divider" *ngIf="searchResultsUsers.length > 0"><span>Gefundene User</span></div>
        <div class="result-box" *ngIf="searchResultsUsers.length > 0">
          <div class="result-image">
            <img src="/assets/images/profile-icons/big/avatar-2.png">
          </div>
          <div class="result-content">
            <div class="result-header-container">
              <div class="result-username">
            Tester Allgemein
              </div>
            </div>
      
            <div class="result-message">
            Profil von Tester Allgemein ansehen
            </div>
        </div>
        </div>
    
  </div>