.add-user-to-channel-container {
    padding: 40px;
    width: 315px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        margin: 0;
    }
}

.close {
    background-image: url(/assets/images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
        background-image: url(/assets/images/closehover.png);
        background-color: var(--main-bg-color);
        border-radius: 100%;
    }
}

.add-person-container {
    width: unset !important;
}