<div class="staticpage-container">
    <div class="header"><img src="./assets/images/logo.png" alt="" /></div>
  
    <div class="content">
      <div class="content-header">
        <mat-icon fontIcon="arrow_back" class="arrow-back" routerLink="/"></mat-icon>
      </div>
      <h2>Datenschutzerklärung</h2>
      <div class="text">
        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora optio deserunt adipisci, doloribus neque pariatur odit ea temporibus aliquid a, tempore reprehenderit, nisi laborum doloremque perspiciatis quos id. Ab, earum.</div>
      </div>
    </div>
  </div>
  