<div class="staticpage-container">
  <div class="header"><img src="./assets/images/logo.png" alt="" /></div>

  <div class="content">
    <div class="content-header">
      <mat-icon fontIcon="arrow_back" class="arrow-back" routerLink="/"></mat-icon>
    </div>
    <h2>Impressum</h2>
    <div class="text">
      <div>Max Mustermann</div>
      <div>Straße 123</div>
      <div>12345 Musterstadt</div>
    </div>
    <h2>Kontakt</h2>
    <div class="text">
      <div>Telefon: +49 (0)123 / 456 78 90</div>
      <div>E-Mail: mail @ test.de</div>
    </div>
  </div>
</div>
