<div class="workspace-card " *ngIf="workspace" ngClass="mr30">
    <div class="workspace-header">
        <div class="img-title">
            <img src="assets/workspace-images/workspace-logo.svg" alt="">
            <h3>Workspace</h3>
        </div>
        <div class="edit-container" (click)="createNewMessage()">
            <button mat-icon-button>
                <img src="assets/workspace-images/edit_square.svg" alt="">
            </button>
        </div>
    </div>
    <div class="new-message-container"><app-new-message></app-new-message>
    </div>
    <app-tree class="scroll"></app-tree>
</div>
<div class="workspace" (click)="toggleWorkspace()">
    <div class="workspace-toggle">
        <div *ngIf="workspace">Workspace-Menü schließen</div>
        <div *ngIf="!workspace">Workspace-Menü öffnen</div>
        <!-- <img class="rotate-90" src="assets/workspace-images/workspace-show-menu.svg" alt=""> -->
        <div class="workspace-icon rotate-90" [ngClass]="{'workspace-hide': workspace, 'workspace-show': !workspace}">
            <div *ngIf="workspace"></div>
            <div *ngIf="!workspace"></div>
        </div>
    </div> 
</div>
<div class="workspace-toggle-mobile" [ngClass]="{'workspace-hide': workspace, 'workspace-show': !workspace}" (click)="toggleWorkspace()">
    <div *ngIf="workspace"></div>
    <div *ngIf="!workspace"></div>
    <!-- <img *ngIf="!workspace" src="assets/images/icons/show-workspace.png" alt=""> -->
</div>‚